html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #7fd3d3;
}

body > * {
    width: 60%;
    margin: 0 20%;   
}

/* Header */

header {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #7fd3d3;
    max-height: 15em;
    display: flex;
    justify-content: center;
}

header > img {
    max-height: 15em;
    max-width: 100%;
}

/* Nav */

.pageNavigation {
    overflow: hidden;
    background-color: #e9f083;
    color: #fb95f9;
}

.pageNavigation a {
    float: left;
    display: block;
    color: #fb95f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.pageNavigation a:hover {
    background-color: #6e529d;
    color: white;
}

.pageNavigation a.active {
    background-color: #fb95f9;
    color: white;
}

.pageNavigation .icon {
    display: none;
}

/* Content */

.info-tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.info-tile {
    width: 40%;
    margin: 3em 0;

 
}

.tile-content {
    background-color: white;
        /* border-radius */
 -webkit-border-radius: 10px 0;
 -moz-border-radius: 10px;
 border-radius: 10px;
/* box-shadow */
 -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.info-tile img {
    max-width: 100%;
}

main {
    background-color: #96fafa;
    flex: 2;
}

.spoiler-warning {

}

.spoiler-content {
    animation: blur 4s ease 0s infinite;
    -webkit-animation: blur 4s ease 0s infinite;
    -moz-animation: blur 4s ease 0s infinite;
}

.spoiler-content img {
    width: 100%;
}

.spoiler-content.hidden * {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
}

footer {
    background-color: #4ff8f8;
    height: 5em;
}

@media screen and (max-width: 900px) {
    .info-tile {
        width: 90%;
        margin: 1em 5%;
    }
}

@media screen and (max-width: 600px) {
    .pageNavigation a:not(:first-child) {
        display: none;
    }

    .pageNavigation a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .pageNavigation.responsive {
        position: relative;
    }

    .pageNavigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .pageNavigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}